{% extends "layout.html" %}
{% block content %}
<h1>Chocolate Brownies <h1>
<p>Water Mill Chocolate Brownies<p>
<img src="https://nt.global.ssl.fastly.net/images/1431769020213-brownie.jpg" alt="A Winchester Brownie made in the heart of Winchester" style= "width:400px; height:200px;">


<ul>
    <li>125g Wholemeal Flour</li>
    <li>250g Butter, unsalted</li>
    <li>275g Caster sugar</li>
    <li>1 tsp Baking powder</li>
    <li>3 Eggs, Medium</li>
    <li>250g Dark Chocolate</li>
    <li>1 tsp Vanilla extract, Pinch of salt, Icing Sugar</li>
</ul>
{% endblock content %}